.button {
  border: none;

  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  background-color: var(--button-background-color);
  width: 17.375rem;
  height: 4.5rem;
  border-radius: 17px;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.text {
  font-size: 36px;
}

.button:hover {
  background-color: #fff;
  color: #252525;
}
